body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18;
    text-align: center;
    margin: auto;
}

header, 
nav, 
section, 
aside, 
footer {
    background: #ebebeb;
}

aside,
section {
    float: left;
    width: 470px;
    height: 150px;
    margin-bottom: 10px;
}

aside {
    margin-left: 10px;
}
section {
    margin-right: 10px;
}

article {
    color: #ebebeb;
    background: #777;
    width: 450px;
    margin: 10px;
    padding-bottom: 10px;
}

h1,
p {
    color: #777;
    background: #ebebeb;
    margin: 10px;
    width: 430px;
}

footer {
    clear: both;
}

.wideBar {
    width: 100%;
    height: 75px;
    margin: 10px 0px;
}